.masonry-container {
  width: 100%;
  position: relative;
  transition: height 0.3s ease;
}

.masonry-item {
  position: absolute;
  transition: all 0.5s ease-out;
  /* Removed break-inside: avoid as it is for CSS columns */
}
